ClientManagement.module/Schemas/ClientManagementRESTHeaderParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:Q1="http://tns.tibco.com/bw/REST" xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/ClientManagementREST/headerParameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://xmlns.example.com/ClientManagementREST/headerParameters">
          	
  
  
  
  
  <xs:import namespace="http://tns.tibco.com/bw/REST"/>
          	
  
  
  
  
  <xs:complexType name="clientsPostHeaderType">
                    		
    
    
    
    
    <xs:complexContent>
                              			
      
      
      
      
      <xs:extension base="Q1:httpTransportHeaders">
                                        				
        
        
        
        
        <xs:sequence>
				</xs:sequence>
                                        			
      
      
      
      
      </xs:extension>
                              		
    
    
    
    
    </xs:complexContent>
                    	
  
  
  
  
  </xs:complexType>
          	
  
  
  
  
  <xs:element name="clientsPostHeader" type="tns:clientsPostHeaderType"/>
          	
  
  
  
  
  <xs:complexType name="clients1GetHeaderType">
                    		
    
    
    
    
    <xs:complexContent>
                              			
      
      
      
      
      <xs:extension base="Q1:httpTransportHeaders">
                                        				
        
        
        
        
        <xs:sequence>
                                                  					
          
          
          
          
          <xs:element maxOccurs="1" minOccurs="1" name="ObjectID" type="xs:string"/>
                                                  				
        
        
        
        
        </xs:sequence>
                                        			
      
      
      
      
      </xs:extension>
                              		
    
    
    
    
    </xs:complexContent>
                    	
  
  
  
  
  </xs:complexType>
          	
  
  
  
  
  <xs:element name="clients1GetHeader" type="tns:clients1GetHeaderType"/>
          	
  
  
  
  
  <xs:complexType name="clients1PutHeaderType">
                    		
    
    
    
    
    <xs:complexContent>
                              			
      
      
      
      
      <xs:extension base="Q1:httpTransportHeaders">
                                        				
        
        
        
        
        <xs:sequence>
                                                  					
          
          
          
          
          <xs:element maxOccurs="1" minOccurs="1" name="ObjectID" type="xs:string"/>
                                                  				
        
        
        
        
        </xs:sequence>
                                        			
      
      
      
      
      </xs:extension>
                              		
    
    
    
    
    </xs:complexContent>
                    	
  
  
  
  
  </xs:complexType>
          	
  
  
  
  
  <xs:element name="clients1PutHeader" type="tns:clients1PutHeaderType"/>
          	
  
  
  
  
  <xs:complexType name="clients1DeleteHeaderType">
                    		
    
    
    
    
    <xs:complexContent>
                              			
      
      
      
      
      <xs:extension base="Q1:httpTransportHeaders">
                                        				
        
        
        
        
        <xs:sequence>
                                                  					
          
          
          
          
          <xs:element maxOccurs="1" minOccurs="1" name="ObjectID" type="xs:string"/>
                                                  				
        
        
        
        
        </xs:sequence>
                                        			
      
      
      
      
      </xs:extension>
                              		
    
    
    
    
    </xs:complexContent>
                    	
  
  
  
  
  </xs:complexType>
          	
  
  
  
  
  <xs:element name="clients1DeleteHeader" type="tns:clients1DeleteHeaderType"/>
          
    
  
  
  
  <xs:complexType name="clients2PostHeaderType">
                
    
    
    <xs:complexContent>
                        
      
      
      <xs:extension base="Q1:httpTransportHeaders">
                                
        
        
        <xs:sequence>
                                        
          
          
          <xs:element maxOccurs="1" minOccurs="1" name="ObjectID" type="xs:string"/>
                                      
        
        
        </xs:sequence>
                              
      
      
      </xs:extension>
                      
    
    
    </xs:complexContent>
              
  
  
  </xs:complexType>
            
  
  
  
  <xs:element name="clients2PostHeader" type="tns:clients2PostHeaderType"/>
        



</xs:schema>
