ClientManagement.module/Schemas/ClientManagementRESTParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/ClientManagementREST/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/ClientManagementREST/parameters">
        
  
  
  <xs:element name="clientsPostParameters">
                
    
    
    <xs:complexType>
                        
      
      
      <xs:sequence>
      </xs:sequence>
                      
    
    
    </xs:complexType>
              
  
  
  </xs:element>
          
  
  
  <xs:element name="clients1GetParameters">
            
    
    <xs:complexType>
                  
      
      <xs:sequence>
                        
        
        <xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:string"/>
                      
      
      </xs:sequence>
                
    
    </xs:complexType>
          
  
  </xs:element>
          
  
  
  <xs:element name="clients1PutParameters">
            
    
    <xs:complexType>
                  
      
      <xs:sequence>
                        
        
        <xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:string"/>
                      
      
      </xs:sequence>
                
    
    </xs:complexType>
          
  
  </xs:element>
          
  
  
  <xs:element name="clients1DeleteParameters">
            
    
    <xs:complexType>
                  
      
      <xs:sequence>
                        
        
        <xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:string"/>
                      
      
      </xs:sequence>
                
    
    </xs:complexType>
          
  
  </xs:element>
      


</xs:schema>
